In [5]:
import psycopg2 as pg
import pandas as pd

In [6]:
# Credentials

host = 'comunidade-ds-postgres.c50pcakiuwi3.us-east-1.rds.amazon.com'
port = 5432
database = 'comunidadedsdb'
user = 'menber'
pwd = 'cdspa'

In [7]:
conn = pg.connect(user=user,
           password=pwd,
           host=host,
           port=port,
           database=database)

OperationalError: could not translate host name "comunidade-ds-postgres.c50pcakiuwi3.us-east-1.rds.amazon.com" to address: Unknown host

# 1.0 Schema Query

In [8]:
cursor = conn.cursor()

query_schema = """
        SELECT nspname
        FROM pg_catalog.pg_namespace
"""

cursor.execute( query_schema )

record = cursor.fetchall()
print(record)

cursor.close()
conn.close()

NameError: name 'conn' is not defined

# 2.0 Table Query

In [3]:
cursor = conn.cursor()

query_tables = """
        SELECT tablename
        FROM pgtables
        WHERE schemaname= 'pa004'
"""

cursor.execute( query_tables )

record = cursor.fetchall()
print(record)

cursor.close()
conn.close()

NameError: name 'conn' is not defined

# 3.0 Collect Data using Psycopg2

In [ ]:
cursor = conn.cursor()

query_tables_users = """
        SELECT *
        FROM pa004.users u
        WHERE u.age > 44
        LIMIT 10
"""

cursor.execute( query_tables_users )

record = cursor.fetchall()
print(record)

cursor.close()
conn.close()

In [ ]:
pd.DataFrame( record )
data.head()

# 4.0 Collect Data using Pandas

In [9]:
import pandas.io.sql as psql

In [10]:
query_tables_users = """
        SELECT *
        FROM pa004.users u LEFT JOIN pa004.vehicle v ON ( u.id = v.id )
                           LEFT JOIN pa004.insurance i ON ( u.id = i.id )
        WHERE u.age > 44
"""

df = psql.read_sql ( query_tables_users, conn)
df.head()

NameError: name 'conn' is not defined

In [ ]:
df1 = pd.read_sql( query_tables_users, conn)
df1.head()